* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  background-color: black;
  color: white;
}

#root h1 {
  font-family: "Potta One", cursive;
  font-size: 6em;
  text-shadow: 5px 5px 0px red, 8px 8px 0px blue;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  color: white;
  text-shadow: none;
}

.box {
  height: 150px;
  width: 150px;
  grid-area: "box";
}

.box button {
  height: 150px;
  width: 150px;
  background-color: transparent;
  color: white;
  font-size: 6em;
  font-family: "Acme", sans-serif;
  outline: none;
  border: 1px solid white !important;
}

.box button:focus {
  outline: none;
}

.background {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  display: grid;
  grid-template: "box box box";
}

.red {
  text-shadow: 0 0 5px #ea1136, 0 0 50px#ea1136, 0 0 100px #ea1136,
    0 0 200px #ea1136, 0 0 500px #ea1136 !important;
}

.blue {
  text-shadow: 0 0 5px #1210d9, 0 0 50px #1210d9, 0 0 100px #1210d9,
    0 0 200px #1210d9, 0 0 500px #1210d9 !important;
}

.redX {
  text-shadow: 5px 5px 0px #ea1136 !important;
}

.blueO {
  text-shadow: 5px 5px 0px #1210d9 !important;
}

.play-buttons-r {
  width: 220px;
  height: 80px;
  font-size: 1.2em !important;
  border-radius: 40px !important;
  background-color: #ea1136 !important;
  opacity: 1;
}

.play-buttons-b {
  width: 220px;
  height: 80px;
  font-size: 1.2em !important;
  border-radius: 40px !important;
  background-color: #1210d9 !important;
  opacity: 1;
}
.play-buttons-r:hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 2px #660717 !important;
  opacity: 1;
  transition: 0.5s;
}

.play-buttons-b:hover {
  transform: scale(1.1) !important;
  box-shadow: 5px 5px 2px #080757 !important;
  opacity: 1;
  transition: 0.5s;
}

.play-buttons-r,
.play-buttons-b {
  outline: 0 !important;
}
